<script src="{{ 'countdown.js' | asset_url }}" type="module" defer="defer"></script>

{{- 'component-countdown.css' | asset_url | stylesheet_tag -}}


<div class="page-width section-{{ section.id }}-padding">
  <countdown-timer class="countdown-container">
    <div class="countdown-text">{{ section.settings.text }}</div>
    <div class="countdown-timer" data-end-date="{{ section.settings.final_date }}">
      <div class="days">&nbsp;</div>
      <div class="hours">&nbsp;</div>
      <div class="minutes">&nbsp;</div>
      <div class="seconds">&nbsp;</div>
    </div>
  </countdown-timer>
</div>

<style>
?
</style>
{% schema %}
{
  "name": "Countdown Timer",
  "tag": "section",
  "class": "section",
  "settings": [
    {
      "type": "text",
      "id": "text",
      "label": "Countdown Heading",
      "default": "Sale Ends In:"
    },
    {
      "type": "text",
      "id": "final_date",
      "label": "End Date",
      "info": "Set the date when the countdown will end"
    }
  ],
  "presets": [
    {
      "name": "Countdown Timer",
      "category": "Promotional"
    }
  ]
}
{% endschema %}